<!--
  Generated template for the PostproductPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>postproduct</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form novalidate [formGroup]="myForm">
    <ion-list>
        <ion-item>
          <ion-label floating>ชื่อสินค้า: </ion-label>
          <ion-input type="text" formControlName="productname" ></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="( myForm.get('productname').hasError('minlength') || myForm.get('productname').hasError('maxlength') ||myForm.get('productname').hasError('pattern') ||myForm.get('productname').hasError('required') ) && myForm.get('productname').touched">
          <div class="error" *ngIf="myForm.get('productname').hasError('required') && myForm.get('productname').touched">
            กรุณาใส่ชื่อ
          </div>
          <div class="error" *ngIf="myForm.get('productname').hasError('minlength') && myForm.get('productname').touched">
            Minimum 4 characters
          </div>
          <div class="error" *ngIf="myForm.get('productname').hasError('maxlength') && myForm.get('productname').touched">
            Maximum 30 characters
          </div>
          <div class="error" *ngIf="myForm.get('productname').hasError('pattern') && myForm.get('productname').touched">
            กรุณาใส่อักษร
          </div>
        </ion-item>


        <ion-item>
          <ion-label floating>หมวดหมู่: </ion-label>
          <ion-select  interface="action-sheet" formControlName="category" >
            <ion-option value="งานช่าง">งานช่าง</ion-option>
            <ion-option value="งานสวน">งานสวน</ion-option>
            <ion-option value="งานบ้าน">งานบ้าน</ion-option>
            <ion-option value="ขายสินค้า">ขายสินค้า</ion-option>
          </ion-select>
        </ion-item>


        <ion-item>
          <ion-label floating>ราคา: </ion-label>
          <ion-input type="tel" formControlName="price" >บาท</ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="(myForm.get('price').hasError('pattern') ||myForm.get('price').hasError('required') ) && myForm.get('price').touched">
          <div class="error" *ngIf="myForm.get('price').hasError('required') && myForm.get('price').touched">
            กรุณาใส่เบอร์โทรศัพท์
          </div>
          <div class="error" *ngIf="myForm.get('price').hasError('pattern') && myForm.get('price').touched">
              กรุณาใส่เฉพาะตัวเลข
          </div>
        </ion-item>


        <ion-item>
          <ion-label floating>รายละเอียด: </ion-label>
          <ion-input type="text" formControlName="detail" ></ion-input>
        </ion-item>


        <ion-item>
          <ion-label floating>เบอร์ติดต่อ: </ion-label>
          <ion-input type="tel" formControlName="tel" ></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="( myForm.get('tel').hasError('minlength') || myForm.get('tel').hasError('maxlength') ||myForm.get('tel').hasError('pattern') ||myForm.get('tel').hasError('required') ) && myForm.get('tel').touched">
          <div class="error" *ngIf="myForm.get('tel').hasError('required') && myForm.get('tel').touched">
            กรุณาใส่เบอร์โทรศัพท์
          </div>
          <div class="error" *ngIf="myForm.get('tel').hasError('minlength') && myForm.get('tel').touched">
            Minimum 10 characters
          </div>
          <div class="error" *ngIf="myForm.get('tel').hasError('maxlength') && myForm.get('tel').touched">
            Maximum 10 characters
          </div>
          <div class="error" *ngIf="myForm.get('tel').hasError('pattern') && myForm.get('tel').touched">
              กรุณาใส่เฉพาะตัวเลข
          </div>
        </ion-item>

        <ion-item>
          <ion-label floating>ID Line: </ion-label>
          <ion-input type="text" formControlName="line" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Email: </ion-label>
          <ion-input type="email" formControlName="email" ></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="( myForm.get('email').hasError('minlength') || myForm.get('email').hasError('pattern') ||myForm.get('email').hasError('required') ) && myForm.get('email').touched">
          <div class="error" *ngIf="myForm.get('email').hasError('required') && myForm.get('email').touched">
            Please input your email
          </div>
          <div class="error" *ngIf="myForm.get('email').hasError('pattern') && myForm.get('email').touched">
            Email address invalid
          </div>
        </ion-item>

        <!-- <ion-item>
          <ion-label floating>เวลาปฎิบัติงาน</ion-label>  
          <ion-datetime formControlName="datestartjob" max="2565" displayFormat="DD MMM YYYY" doneText="ตกลง" cancelText="ยกเลิก"></ion-datetime>
        </ion-item> -->

        <ion-item>
          <ion-label >วันที่ลงประกาศ: {{currentDate}}</ion-label>
          <ion-input type="text" formControlName="dateregist" readonly></ion-input>
        </ion-item>

        <ion-item>
          <button ion-button block color="primary" (click)="postproduct(myForm.value)" >
            ลงประกาศ
          </button>
        </ion-item>

    </ion-list>
  </form>

</ion-content>